@model IEnumerable<appSegurancas.Models.Seguranca>

    @{ ViewData["Title"] = "Painel de Aprovação"; }

    <h2>Seguranças Aguardando Aprovação</h2>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Matrícula</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.nome @item.sobreNome</td>
                <td>@item.cpf</td>
                <td>@item.matricula</td>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-sm btn-success" asp-action="Aprovar" asp-route-id="@item.id">Aprovar</button>
                        <button type="submit" class="btn btn-sm btn-danger" asp-action="Rejeitar" asp-route-id="@item.id">Rejeitar</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
