@model IEnumerable<appSegurancas.Models.Seguranca>

    @{ ViewData["Title"] = "Painel de AprovaÓÐo"; }

    <h2>SeguranÓas Aguardando AprovaÓÐo</h2>
    <form asp-action="PesquisarSegurancaPendente" method="get">
        <div class="input-group mb-3">
            <button class=" input-group-text" type="submit">
                <i class="bi bi-search"></i>
            </button>
            <input type="text" name="pesquisa" class="form-control" />
            <a class=" input-group-text" type="button" asp-for="Admin" asp-action="AprovarSeguranca">
                <i class="bi bi-x-lg"></i>
            </a>
        </div>
    </form>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>MatrÚcula</th>
                <th>Email</th>
                <th>AÓ¾es</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.nome @item.sobreNome</td>
                <td>@item.cpf</td>
                <td>@item.matricula</td>
                <td>@item.email</td>
                <td>
                    <form id="form-acoes-admin" method="post">
                        <button type="button" class="btn btn-sm btn-success btn-confirmar" asp-action="Aprovar" asp-route-id="@item.id">Aprovar</button>
                        <button type="button" class="btn btn-sm btn-danger btn-confirmar" asp-action="Rejeitar" asp-route-id="@item.id">Rejeitar</button>
                    </form>
                </td>
            </tr>
        }


        </tbody>
    </table>
    <a asp-for="Admin" asp-action="SegurancasRejeitados" class="btn btn-success">Cadastros Rejeitados</a>
    <a asp-for="Admin" asp-action="PainelAdmin" class="btn btn-secondary">Voltar</a>
