@model IEnumerable<appSegurancas.Models.Seguranca>

    @{ ViewData["Title"] = "Painel de AprovaÓÐo"; }

    <h2>SeguranÓas Rejeitados</h2>
    <form asp-action="PesquisarSegurancaRejeitado" method="get">
        <div class="input-group mb-3">
            <button class=" input-group-text" type="submit">
                <i class="bi bi-search"></i>
            </button>
            <input type="text" name="pesquisa" class="form-control" />
            <a class=" input-group-text" type="button" asp-for="Admin" asp-action="SegurancasRejeitados">
                <i class="bi bi-x-lg"></i>
            </a>
        </div>
    </form>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>MatrÚcula</th>
                <th>Email</th>
                <th>AÓ¾es</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.nome @item.sobreNome</td>
                <td>@item.cpf</td>
                <td>@item.matricula</td>
                <td>@item.email</td>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-sm btn-warning btn-confirmar" asp-action="SolicitarEdicao" asp-route-id="@item.id">Solicitar EdiÓÐo</button>
                        @if(item.isApproved == statusAprovacao.EmEdicao) {

                        <span class="btn btn-sm btn-info">Editando</span>

                        }

                    </form>

                </td>

            </tr>
        }


        </tbody>
    </table>

    <a class="btn btn-secondary" asp-action="AprovarSeguranca">Voltar</a>
