@model IEnumerable<appSegurancas.Models.Seguranca>
    @{ ViewData["Title"] = "Painel de Aprovação"; }
    <div class="d-flex gap-3 align-items-center mb-3">
        <a asp-for="Admin" asp-action="AprovarSeguranca" class="btn btn-sm btn-secondary">
            <i class="bi bi-arrow-left"></i> Voltar
        </a>
        <h2>Seguranças Rejeitados</h2>
    </div>
    <form asp-action="PesquisarSegurancaRejeitado" method="get">
        <div class="input-group mb-3">
            <button class=" input-group-text" type="submit">
                <i class="bi bi-search"></i>
            </button>
            <input type="text" name="pesquisa" class="form-control" />
            <a class=" input-group-text" type="button" asp-for="Admin" asp-action="SegurancasRejeitados">
                <i class="bi bi-x-lg"></i>
            </a>
        </div>
    </form>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Matrícula</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.nome @item.sobreNome</td>
                <td>@item.cpf</td>
                <td>@item.matricula</td>
                <td>@item.email</td>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-sm btn-warning btn-confirmar" asp-action="SolicitarEdicao" asp-route-id="@item.id">Solicitar Edição</button>
                        @if(item.isApproved == statusAprovacao.EmEdicao) {
                        <span class="btn btn-sm btn-info">Editando</span>
                        <button type="submit" class="btn btn-sm btn-danger btn-confirmar" asp-for="Admin" asp-action="CancelarEdicao" asp-route-id="@item.id">Cancelar</button>
                        }
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>