@model IEnumerable<appSegurancas.Models.Seguranca>

    @{ ViewData["Title"] = "Painel de Aprovaçăo"; }

    <h2>Seguranças Rejeitados</h2>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Matrícula</th>
                <th>Açőes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.nome @item.sobreNome</td>
                <td>@item.cpf</td>
                <td>@item.matricula</td>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-sm btn-warning" asp-action="SolicitarEdicao" asp-route-id="@item.id">Solicitar Ediçăo</button>
                        @if(item.isApproved == statusAprovacao.EmEdicao) {

                        <span class="btn btn-sm btn-info">Editando</span>

                        }
                        
                    </form>

                </td>
               
            </tr>
        }


        </tbody>
    </table>

    <a class="btn btn-secondary" asp-action="AprovarSeguranca">Voltar</a>
