@model IEnumerable<appSegurancas.Models.Seguranca>

    @{ ViewData["Title"] = "Painel de Aprovados"; }

    <h2>Seguranças Aprovados</h2>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Matrícula</th>
                <th>Açőes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {

            if (@item.cpf != "12345678912") {

            <tr>
                <!--login do administrador-->

                <td>@item.nome @item.sobreNome</td>
                <td>@item.cpf</td>
                <td>@item.matricula</td>


                <td>
                    <!--asp route id serve pra colocar o id desse seguranca como argumento do método UploadContracheque-->
                    <a asp-action="VerContrachequeSeguranca" asp-route-id="@item.id" class="btn btn-sm btn-jw">
                        Ver Contracheques
                    </a>
                </td>
            </tr>
            }

        }
        </tbody>
    </table>
    <a asp-for="Admin" asp-action="PainelAdmin" class="btn btn-secondary">Voltar</a>
